<ion-header>
  <ion-toolbar>
    <ion-title>DivisApp 23004956 - Julio Sagastume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Cantidad en Quetzales</ion-label>
    <ion-input type="number" [(ngModel)]="quetzales"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="convertir()">Convertir</ion-button>
  <div *ngIf="resultado !== undefined">
    <h3>Equivalente en Dólares: {{ resultado | number:'1.2-2' }}</h3>
  </div>
</ion-content>